*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header-hoofd{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(afb/Amoertijger.jpg);
    background-size: cover;
    position: relative;
}
.header-Bengaalse{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(afb/Bengaalse_Tijger.jpg);
    background-size: cover;
    position: relative;
}
.header-Amoer{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(afb/Amoertijger.jpg);
    background-size: cover;
    position: relative;
}
.header-balinese{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(afb/Balinese_Tijger.jpg);
    background-size: cover;
    position: relative;
}

/* naviagatie*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content:space-between ;
    align-items: center;
}
nav img {
    height: 75px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.nav-links ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.selected{
    background-color: crimson;
    border-radius: 3px;
}
.nav-links ul li a { 
    color: #fff ;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336 ;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.sub-menu{
    display:none ;
}
.nav-links ul li:hover .sub-menu{
display: block;
position: absolute;
background-color: #f44336;
margin-top: 15px;
margin-left: 15px;
}
.nav-links ul li:hover .sub-menu ul{
    display: block;
    margin: 10px;
}
.nav-links ul li:hover .sub-menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #f44336;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.nav-links ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}
.nav-links ul li:hover .sub-menu ul li a:hover{
    color: crimson;
}

/* tekst op midden van het scherm hoofpagina */
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none ;
    color: #fff;
    border: 1px solid #fff ;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background:#f44336 ;
    transition: 1s;
}

nav .fa-solid{
    display: none;
}
main {
    width: 70%;
    margin: 0 auto;
}
/*media voor kleinere aparaten geen reactie door de submenus */
/* @media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;   
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        
    }
    .fa-solid.fa-bars{
        position: relative;
        color:#f44336 ;
    }
    .nav-links ul{
        padding: 30px;
    }
} */

/*---- in leven ----*/

.in-leven{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}
.niet-in-leven{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.in-leven-col{
    flex-basis: 31%;
    background: #fff3f3 ;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 2s; 
}
.niet-in-leven-col{
    flex-basis: 31%;
    background: #fff3f3 ;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 2s;
}
.links{
    text-decoration:none;
    color: black;
}
.witte-links{
    text-decoration:none;
    color: white;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.in-leven-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2) ;
    border: 1px solid #f44336;
    background:#f44336 ;
    transition: 2s;
}
.niet-in-leven-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2) ;
    border: 1px solid #f44336;
    background:#f44336 ;
    transition: 2s;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/* tijgers met witte tekst */
.tijger h1{
    text-align: left;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}
.tijger h2{
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
    color: white;
}
.tijger p{
    text-align: left;
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

